*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    margin: 10%;
}

header img{
    width: 57px;
    height: 54px;
    margin: -14px 25px 16px 25px;
}

header a{
    text-decoration: none;
    font-size: 19px;
    margin: 10px;
}

header a:hover{
    text-decoration: underline;
    color: yellowgreen;
    background-color: lightcyan;
    padding: 2px;
    font-family: monospace;
    border-radius: 10%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

input{
    flex: 1;
    border: 1px;
    outline: none;
    background: none;
    padding: 10px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: cadetblue;
    color: #edeef0;
    font-size: 15px;
    cursor: pointer;
    border-radius: 40px;
}

/* Style for meal containers */
.meal {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Style for meal images */
.meal img {
    width: 50%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 15px;
}

/* Style for meal headings */
.meal h2 {
    margin: 10px 0;
    font-size: 24px;
    text-align: center;
    color: yellowgreen;
}

.meal ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.meal li {
    margin-bottom: 5px;
}

.meal button {
    background-color: #fff;
    border: none;
    color: rgb(80, 186, 80);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.meal button:hover {
    background-color: #ddd;
}

.description {
    display: none;
}
  
.show {
    display: block;
}

p{
    font-size: 20px;
    margin-left: 10px;
    word-spacing: 3px;
    line-height: 35px;
    text-align: justify;
    color: black;
    background-color: wheat;
    border-radius: 20px;
    padding: 5px;
    font-family: Cursive;

}